/* Original design found here - https://symu.co/freebies/templates-4/polind-psd-template/
Everything of the implementation (exception made for the external libraries such as
normalize.css or the poly fluid sizing) is by me, Riccardo Battiato
Check me out at https://riccardo.cc
Check my GitHub - https://github.com/rain-light
This project page - https://github.com/rain-light/polind */
/* MAIN COLORS */
/*
  0 - 600px:      Phone
  600 - 900px:    Tablet portrait
  900 - 1200px:   Tablet landscape
  [1200 - 1800] is where our normal styles apply
  1800px + :      Big desktop
  
  $breakpoint arguement choices:
  - phone
  - tab-port
  - tab-land
  - big-desktop
  
  ORDER: Base + typography > general layout + grid > page layout > components
  
  1em = 16px
  */
/* Resets and stuff handled by normalize.css */
html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
}

/* TEXT UTILITIES */
.u-text-accent {
  color: #ED6950 !important;
}

[class^="heading"] {
  margin: 0;
}

.heading-1 {
  font-size: 9.2em;
  line-height: 1;
  letter-spacing: 1px;
}

.heading-4 {
  font-size: 3rem;
  color: #606F81;
}

.heading-6 {
  font-size: 1.8em;
  color: rgba(255, 255, 255, 0.5);
}

/* LOGO */
.logo {
  width: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.logo__image {
  width: 4rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo__text {
  font-size: 3rem;
  font-weight: 700;
}

/* SEARCH ICON */
.icon-search {
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  fill: #FFC74A;
  cursor: pointer;
  -webkit-transition: fill .3s;
  transition: fill .3s;
}

.icon-search:hover {
  fill: #ED6950;
}

/* HAMBURGER MENU ICON */
.hamburger-menu {
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.hamburger-menu__line {
  position: relative;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background-color: currentColor;
}

.hamburger-menu__line::before, .hamburger-menu__line::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: currentColor;
}

.hamburger-menu__line::before {
  bottom: .7rem;
}

.hamburger-menu__line::after {
  top: .7rem;
}

/* SEARCH FORM */
.search-form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 1.5rem 5rem 1.5rem 2.5rem;
  border-radius: 3rem;
  -webkit-box-shadow: 0 0 5rem rgba(96, 111, 129, 0.1);
          box-shadow: 0 0 5rem rgba(96, 111, 129, 0.1);
}

.search-form__input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: inherit;
  outline: none;
  font-size: 1.8rem;
}

.search-form__input::-webkit-input-placeholder {
  color: rgba(96, 111, 129, 0.8);
}

.search-form__input:-ms-input-placeholder {
  color: rgba(96, 111, 129, 0.8);
}

.search-form__input::-ms-input-placeholder {
  color: rgba(96, 111, 129, 0.8);
}

.search-form__input::placeholder {
  color: rgba(96, 111, 129, 0.8);
}

.search-form svg {
  position: absolute;
  top: 50%;
  right: 2.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* CATEGORY TAGS */
.categories {
  margin-bottom: 2rem;
}

.categories__category {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  padding: .3rem 1.5rem;
  border-radius: 3rem;
  background-color: #BDC8D9;
  color: #fff;
  cursor: pointer;
}

.categories__category:not(:first-child) {
  margin-left: .8rem;
}

.categories__category--active {
  background-color: #FFC74A;
}

.categories__category--transparent {
  background-color: transparent;
  color: #606F81;
  border: 1px solid #BDC8D9;
}

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  -webkit-transition: color .3s, -webkit-transform .3s;
  transition: color .3s, -webkit-transform .3s;
  transition: transform .3s, color .3s;
  transition: transform .3s, color .3s, -webkit-transform .3s;
}

.btn--yellow {
  background-color: #FFC74A;
  color: #B98000;
}

.btn--white {
  background-color: #fff;
  color: #BDC8D9;
  -webkit-box-shadow: 0 0 10rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10rem rgba(0, 0, 0, 0.1);
}

.btn--normal {
  font-size: 1.4em;
  letter-spacing: .1em;
  padding: 1em 3em;
  border-radius: 3em;
}

.btn--normal:hover {
  -webkit-transform: scale(1.05) translateY(-0.3em);
          transform: scale(1.05) translateY(-0.3em);
}

.btn--small {
  font-size: 1.4rem;
  letter-spacing: 1px;
  padding: 1rem 3rem;
  border-radius: 3rem;
}

.places {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (29rem)[auto-fit];
      grid-template-columns: repeat(auto-fit, 29rem);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-column-gap: 1rem;
  grid-row-gap: 3rem;
}

@media only screen and (max-width: 471px) {
  .places {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.places__card {
  position: relative;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 35rem;
  background-size: cover;
  text-align: center;
  -webkit-box-shadow: 0.5rem 0.5rem 5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.5rem 0.5rem 5rem rgba(0, 0, 0, 0.3);
  font-size: 1rem;
}

.places__card--dark-0 {
  background-image: url(/img/photo-dark-0.png);
}

.places__card--zakopane {
  background-image: url(/img/zakopane.png);
}

.places__card--sandomierz {
  background-image: url(/img/sandomierz.png);
  font-size: calc(.5rem + .2vw);
}

@media only screen and (max-width: 75em) {
  .places__card--sandomierz {
    font-size: .8rem;
  }
}

.places__card--sopot {
  background-image: url(/img/sopot.png);
}

.places__card--dark-1 {
  background-image: url(/img/photo-dark-1.png);
}

.places__card h3, .places__card h6 {
  margin: 0;
}

.places__card-center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.places__card-bottom-content {
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.places__card-title {
  color: #fff;
  font-size: 4.8em;
}

.places__card-title--small {
  font-size: 3em;
}

.places__card-subheading {
  font-size: 1.4em;
  font-weight: 400;
  color: #fff;
}

.places__card-subheading--yellow {
  color: #FFC74A;
}

.header {
  position: relative;
  height: 135vh;
  min-height: calc(70rem + 35vh);
  background-image: url(/img/header.png);
  background-size: cover;
  background-position: center;
}

.header::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.header__content {
  position: relative;
  height: 100vh;
  min-height: 70rem;
  z-index: 1;
  color: #fff;
  /* RESPONSIVENESS SETTINGS */
  font-size: 6px;
}

@media only screen and (min-width: 280px) {
  .header__content {
    font-size: calc(0.39474vw + 4.89474px);
  }
}

@media only screen and (min-width: 1800px) {
  .header__content {
    font-size: 12px;
  }
}

.header__center {
  position: absolute;
  width: 100%;
  max-width: 80vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.header__subheading {
  margin-top: 1em;
}

.header__button {
  margin-top: 4.5em;
}

.header__bottom {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.8em;
}

.navbar {
  width: 95%;
  margin: 0 auto;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 37.5em) {
  .navbar {
    width: 90%;
  }
}

.navbar__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 37.5em) {
  .navbar__list {
    display: none;
  }
}

.navbar__element:not(:first-child) {
  margin-left: 5rem;
}

.navbar__link, .navbar__link:link, .navbar__link:visited {
  text-decoration: none;
  color: inherit;
  font-size: 1.8rem;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.navbar__link:hover, .navbar__link:link:hover, .navbar__link:visited:hover {
  color: #FFC74A;
}

@media only screen and (min-width: 37.5em) {
  .navbar__hamburger {
    display: none;
  }
}

.find__heading {
  text-align: center;
}

.find__search {
  margin: 4rem auto 0 auto;
  width: 250px;
}

@media only screen and (min-width: 280px) {
  .find__search {
    width: calc(78.125vw + 31.25px);
  }
}

@media only screen and (min-width: 600px) {
  .find__search {
    width: calc(41.66667vw + 250px);
  }
}

@media only screen and (min-width: 1800px) {
  .find__search {
    width: 1000px;
  }
}

.find__categories {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.find__grid {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (37.1rem)[auto-fit];
      grid-template-columns: repeat(auto-fit, 37.1rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 3rem;
}

.find__location {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  height: 35rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0 10rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10rem rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.find__location-image {
  width: 100%;
  height: 50%;
  border-radius: inherit;
  background-size: cover;
  background-position: bottom;
}

.find__location-image--poznan {
  background-image: url(/img/poznan.png);
}

.find__location-image--warsaw {
  background-image: url(/img/warsaw.png);
}

.find__location-image--wroclaw {
  background-image: url(/img/wroclaw.png);
  background-position: top;
}

.find__location-image--karpacz {
  background-image: url(/img/karpacz.png);
}

.find__location-image--dolina {
  background-image: url(/img/dolina.png);
}

.find__location-image--kozy {
  background-image: url(/img/kozy.png);
}

.find__location-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.find__location-text span {
  line-height: 1.2;
  color: #606F81;
}

.find__location-name {
  font-size: 3rem;
}

.find__location-province {
  font-size: 1.4rem;
  font-weight: 300;
}

.find__location-button {
  margin-bottom: 2rem;
}

.section-places {
  margin-bottom: -12rem;
}

.section-find {
  padding-bottom: 4rem;
}
/*# sourceMappingURL=style.css.map */