.navbar {
    width: 95%;
    margin: 0 auto;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(phone) {
        width: 90%;
    }

    &__list {
        list-style: none;
        display: flex;
        align-items: center;

        @include respond(phone) {
            display: none;
        }
    }

    &__element {
        
        &:not(:first-child) {
            margin-left: 5rem;
        }
    }

    &__link,
    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: inherit;
        font-size: 1.8rem;
        transition: color .3s;

        &:hover {
            color: $color-yellow;
        }
    }

    &__hamburger {
        
        @media only screen and (min-width: 37.5em) {
            display: none;
        }
    }
}